<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>Angkor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="main.ctrl.js"></script>
</head>
<body ng-app="angkorApp" ng-controller="MainController as main">


  <div class="container">
    <h1>{{main.title}}</h1>
    <div class="input-group">
      <span class="input-group-addon">
        <span class="glyphicon glyphicon-search"></span>
      </span>
      <input type="text" class="form-control" ng-model="main.searchInput" placeholder="Search Companies List">
  </div>
  

    <h2>Screened List of Companies</h2>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="company in main.companies | filter:main.searchInput | orderBy:main.order.key:main.order.reverse"><span class="glyphicon glyphicon-asterisk" ng-if="company.holding"></span>{{company.name}}<a class="btn" ng-click="main.deleteCompany(company)">Delete</a><span class="badge">{{company.marketCap}}</span>
        </li>
    </ul>
    <select class="form-control pull-right" ng-model="main.order" ng-options="order as order.name for order in main.orders"></select>

    <div class="clearfix"></div>
    <h3>Add a new Company</h3>
    <form name="main.addForm" class="form" ng-submit="main.addCompany()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="main.new.name" required />
        </div>
        <div class="form-group">
          <label>Market Cap</label>
          <input type="number" min="50" max="1000" class="form-control" ng-model="main.new.marketCap" required />
        </div>
        <div class="row">
          <div class="col-xs-6">
            <label>Holding: <input type="checkbox" ng-model="main.new.holding" /></label>
          </div>
          <div class="col-xs-6">
            <button class="btn btn-success pull-right"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>
          </div>
        </div>


    </form>

       <p>Enter whatever here: <input type="text" ng-model="whatever"></p>
       <p>You wrote <span ng-bind="whatever"></span>!</p>
        

</body>
</html>
























